/target/
test-ouput
test-output/
extent-report.html
extent-report1.html
.settings/
.settings
.idea/
/.idea/
/extentReportForOrangeHrm/
SeleniumTesting.iml
/extentReportForOrangeHrm/Index.html
!/extentReportForOrangeHrm/Index.html