/target/
test-ouput
test-output/
extent-report.html
extent-report1.html
.settings/
.settings
.idea/
/.idea/
/extentReportForOrangeHrm/
extentReportForOrangeHrm/
SeleniumTesting.iml
/Screenshots/
Screenshots/
/extentReportForDummyWebPage/
extentReportForDummyWebPage/